*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/.rbx
/vendor/bundle
/log/*
/tmp/*
/db/*.db
/public/system/*
/public/assets/
/coverage/
/spec/tmp/*
/cookbooks/
/config/database.yml
/config/redis.yml
/.chef/data.json
/.vagrant
**.orig
rerun.txt
pickle-email-*.html
